WS_CMPAService/CMPAService/CnicMsisdnPairing_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cmpa.pmd.com" xmlns:ax21="http://object.pmd.com/xsd" xmlns:ax22="http://object.pmd.com/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://cmpa.pmd.com" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <xsd:import namespace="http://object.pmd.com/xsd" schemaLocation="CnicMsisdnPairing_InlineSchema1.xsd"/>
            <xsd:element ibmSchExtn:docRoot="true" name="verify">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="userName" nillable="true" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="passwd" nillable="true" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="request" nillable="true" type="ax22:Request"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element ibmSchExtn:docRoot="true" name="verifyResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" nillable="true" type="ax22:Response"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>